<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title data-th-text="${loggedInUser.name}+' |  Dashboard'">
        Profile Page
    </title>
</head>

<body>
    <div id="content">
        <!-- sidebar -->

        <!-- user is logged in : sidebar -->

        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64">
            <div class="flex justify-center flex-col items-center">

                <!-- Features Section -->
                <section class="py-20">
                    <div class="container mx-auto text-center">
                        <h3 class="text-5xl mb-12 animate__animated animate__fadeInUp">Dashboard</h3>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-8">
                            <div
                                class="p-6 bg-white dark:bg-gray-800 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                                <i class="fa-solid fa-file text-4xl mb-4" style="color: #505fc0;"></i>
                                <h3 class="text-xl font-semibold mb-2"><span th:text="${totalApplications}"></span>
                                    Applications</h3>
                                <p class="text-gray-600">Count of all submitted applications.</p>
                            </div>
                            <div
                                class="p-6 bg-white dark:bg-gray-800 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                                <i class="fa-solid fa-star text-4xl mb-4" style="color: #505fc0;"></i>
                                <h3 class="text-xl font-semibold mb-2"><span th:text="${starredApplications}"></span>
                                    Active </h3>
                                <p class="text-gray-600">High priority job applications.</p>
                            </div>
                            <div
                                class="p-6 bg-white dark:bg-gray-800 rounded shadow hover:shadow-lg transition duration-300 transform hover:scale-105">
                                <i class="fa-solid fa-trophy text-4xl mb-4" style="color: #505fc0;"></i>
                                <!-- todo: add logic for Percentage -->
                                <h3 class="text-xl font-semibold mb-2"><span th:text="${successRate}"></span>%
                                    Success Rate
                                </h3>
                                <p class="text-gray-600">Percentage of applications resulting in offers.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <div class="container mx-auto block w-full p-6">
                    <div
                        class="text-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 hover:shadow-lg transition duration-300 transform hover:scale-105">
                        <i class="fa-solid fa-trophy text-4xl mb-4 pt-8" style="color: #505fc0;"></i>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span th:text="${starredApplications}"></span>% Success Rate
                        </h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400 pb-8">Percentage of applications that
                            resulted in interviews or job offers.
                        </p>
                    </div>
                </div> -->
            </div>

        <div class="rounded-xl bg-white dark:bg-gray-800 bg-clip-border text-gray-700 dark:text-white shadow-md">
            <div>
                <h3 class="pt-8 text-center text-2xl font-sans font-semibold leading-relaxed tracking-normal text-gray-700 dark:text-white antialiased">
                    Applications in Different Stages
                </h3>
              </div>
            <div class="pt-6 px-2 pb-0 text-gray-700 dark:text-white">
                <div id="bar-chart"></div>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script data-th-src="@{'/js/chart.js'}">
    </script>

</body>

</html>