<div data-th-fragment="job">
    <!-- Main modal -->
    <div id="view_job_modal" tabindex="-1" aria-hidden="true" style="padding: 4%;"
        class="mt-32 hidden transition-all overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-full max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <button type="button"
                        class="flex items-center justify-center text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                        onclick="closeJobModal()">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="p-5 flex flex-col items-center space-y-2">
                        <img id='picture'
                            class="w-32 h-32 rounded-full" src="" alt="" />
                        <h3 id="jobRole" class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
                        <p class="text-gray-600 dark:text-gray-300" id="company"></p>
                        <p class="text-gray-600 dark:text-gray-300" id="starred"></p>
                    </div>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <!--  other information  -->

                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm rtl:text-right text-gray-500 dark:text-gray-400">
                            <tbody>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid w-4 h-4 fa-calendar"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <span id="appliedDate"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid w-4 h-4 fa-calendar"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <span id="interviewDate"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid w-4 h-4 fa-location-dot"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <span id="location"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-circle-info w-6 h-6"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <span id="description"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid w-4 h-4 fa-earth-americas"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <span id="platform"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-user-tie"></i>                                    <td class="px-6 py-4">
                                        <span id="referral"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid fa-chart-line"></i>                                    </th>
                                    <td class="px-6 py-4">
                                        <span id="currentStatus"></span>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-solid w-4 h-4 fa-link"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <a id="jobLink"></a>
                                    </td>
                                </tr>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <i class="fa-regular w-4 h-4 fa-file"></i>
                                    </th>
                                    <td class="px-6 py-4">
                                        <a id="cvLink"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal footer -->
                <div
                    class="flex items-center justify-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button onclick="closeJobModal()" type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>