<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>All Your Jobs</title>
</head>

<body>
    <div id="content">
        <!-- sidebar -->

        <!-- user is logged in : sidebar -->

        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20">
            <div class="">
                <h1 class="text-5xl text-center">Track Your Job Applications</h1>
                <br />
                <p class="text-3xl text-center">List of all Applied Jobs...</p>

                <div class="jobs_container p-5">
                    <div class="flex md:flex-row flex-col items-center px-4 justify-between bg-white dark:bg-gray-900">
                        <form data-th-object="${jobSearchForm}" action="" data-th-action="@{'/user/jobs/search'}">
                            <div
                                class="flex p-5 space-x-3 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
                                <div>
                                    <select data-th-field="*{field}" id="searchFields"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option selected value="">Select field</option>
                                        <option value="currentStatus">Current Status</option>
                                        <option value="company">Company</option>
                                        <option value="jobRole">Role</option>
                                        <option value="location">Location</option>
                                        <!-- <option value="DE">Status</option> -->
                                    </select>
                                </div>
                                <div class="search_input_container">
                                    <div class="relative">
                                        <div
                                            class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                            </svg>
                                        </div>
                                        <input id="searchInput" data-th-field="*{value}" type="text"
                                            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Search job application" disabled />
                                    </div>
                                </div>
                                <button id="searchButton" type="submit"
                                    class="px-3 py-2 bg-gray-800 text-white rounded">
                                    Search
                                </button>
                                <label for="table-search" class="sr-only">Search</label>
                            </div>
                        </form>
                        <div>
                            <button type="button" onclick="exportData()"
                                class="px-3 py-2 bg-green-800 text-white rounded">
                                Export
                            </button>
                        </div>
                    </div>
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <div data-th-replace="~{message :: messagebox}"></div>
                        <table id="job-table" data-th-if="${pageJob.totalElements>0}"
                            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Company Name</th>
                                    <th scope="col" class="px-6 py-3">Role</th>
                                    <th scope="col" class="px-6 py-3">Current Status</th>
                                    <th scope="col" class="px-6 py-3">Location</th>
                                    <th scope="col" class="px-6 py-3">Applied On</th>
                                    <th scope="col" class="px-6 py-3">Links</th>
                                    <th scope="col" class="px-6 py-3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-object="${c}" data-th-each="c  : ${pageJob.getContent()}"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row"
                                        class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                        <img onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"
                                            class="w-10 h-10 rounded-full" data-th-src="@{*{picture}}"
                                            src="/docs/images/people/profile-picture-1.jpg" alt="Jese image" />
                                        <div class="ps-3">
                                            <div class="text-base font-semibold" data-th-text="*{company}">
                                                Neil Sims
                                            </div>
                                        </div>
                                    </th>
                                    <td class="px-6 py-4">
                                        <span data-th-text="*{jobRole}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <span data-th-text="*{currentStatus}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <span data-th-text="*{location}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <i class="fa-regular w-4 h-4 fa-calendar"></i>
                                        <span data-th-text="*{appliedDate}"></span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <div data-th-if="*{starred}"
                                                class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                            <div data-th-unless="*{starred}"
                                                class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div>
                                            <a data-th-href="@{*{jobLink}}" target="_blank"><i
                                                    class="fa-solid w-6 h-6 fa-link"></i></a>
                                            <a data-th-href="@{*{cvLink}}" target="_blank">
                                                <i class="fa-regular w-6 h-6 fa-file"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div>
                                            <!-- delete -->
                                            <button th:onclick="deleteJob([[${c.jobId}]])">
                                                <i class="fa-solid w-6 h-6 fa-trash"></i>
                                            </button>
                                            <!-- update -->
                                            <a data-th-href="@{'/user/jobs/view/'+*{jobId}}">
                                                <i class="fa-solid w-6 h-6 fa-pen"></i></a>
                                            <!-- view -->
                                            <button th:onClick="loadJobdata([[${c.jobId}]])">
                                                <i class="fa-solid fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- pagination component  -->
                        <div data-th-if="${pageJob.totalElements>0}"
                            class="pagination_container bg-white dark:bg-gray-800 p-5 text-center">
                            <nav aria-label="Page navigation example">
                                <ul class="inline-flex -space-x-px text-base h-10">
                                    <li data-th-unless="${pageJob.first}">
                                        <a data-th-href="@{'/user/jobs?size='+${pageSize}+'&page=' + ${pageJob.number-1}}"
                                            href="#"
                                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                    </li>
                                    <li data-th-each="index :  ${#numbers.sequence(0,pageJob.totalPages-1)}">
                                        <a data-th-href="@{'/user/jobs?size='+${pageSize}+'&page='+${index}}" href="#"
                                            data-th-classappend="${index==pageJob.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                            <span data-th-text="${index+1}"></span>
                                        </a>
                                    </li>

                                    <li data-th-unless="${pageJob.last}">
                                        <a data-th-href="@{'/user/jobs?size='+${pageSize}+'&page=' + ${pageJob.number+1}}"
                                            href="#"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <h1 class="text-3xl text-center dark:bg-gray-800 dark:text-white bg-white p-4"
                            data-th-if="${pageJob.totalElements<=0}">
                            No result found
                        </h1>
                    </div>
                </div>
            </div>
            <div data-th-replace="~{ user/job_modals :: job}"></div>
        </div>
    </div>
    <script data-th-src="@{'/js/jobs.js'}"></script>
    <script data-th-src="@{'/js/disabled.js'}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
    <script data-th-src="@{'/js/exportData.js'}"></script>
</body>

</html>