<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
  <title>Home page</title>
</head>

<body>
  <div id="content">
    <!-- Carousel -->
    <div id="gallery" class="relative w-full" data-carousel="slide" style="margin-top: 4rem;">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden md:h-96 rounded-lg">
        
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="https://img.freepik.com/free-vector/business-stress-professional-burnout-scenes-flat-isolated-vector-illustration_1284-77609.jpg?t=st=1726590491~exp=1726594091~hmac=e2b9b0a17c8d7f55b7f746fc9481e6b2f2eab08ab65abcf5eee497e0a48fd1f7&w=1800"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="https://img.freepik.com/free-vector/tasks-schedule-concept-with-people-making-notes_107791-15370.jpg?t=st=1726590686~exp=1726594286~hmac=794de4c5520ebd6ac3a5b3a10e0154adb54e31769ec94f029c2bdbce0639b8b1&w=1800"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="https://img.freepik.com/free-vector/job-search-recruitment-composition-with-hands-holding-tablet-with-candidates-rating-characters-successful-applicants-vector-illustration_1284-69589.jpg?t=st=1726591279~exp=1726594879~hmac=66f49ed69fd543c0a3ca83de2c6e3a73e0dd2acafdffe98768bffd4ec161423c&w=1800"
          class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
      </div>
      <!-- Slider controls -->
      <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full dark:bg-white/20 bg-gray-800/30 dark:group-hover:bg-white/50 group-hover:bg-gray-800/60 group-focus:ring-4 dark:group-focus:ring-white group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 1 1 5l4 4" />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/70 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4  text-gray-800 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>


    <div class="text-center" style="margin-top: 4rem;">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Streamline Your <span
          class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Path to Success</span></h1>
      <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"><i>"Effortlessly track all your job applications in one place."</i></p>
    </div>
    
    <!-- cards -->
    <div class="grid grid-cols-2 md:grid-cols-2 gap-8" style="padding: 5%;">
      <div>
        <a data-th-href="@{'/user/jobs/add'}"
          class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-10 md:w-10 md:rounded-none md:rounded-s-lg"
            src="https://img.freepik.com/free-psd/3d-female-character-working-laptop-while-sitting-chair_23-2148938889.jpg?t=st=1726584803~exp=1726585403~hmac=3f81b8eec99f9a9ffd4a1795d903fe327ecfa3170233b1b44e93560080bf0a98" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Add Job</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Quickly add new job applications.
            </p>
          </div>
        </a>
      </div>
      <div>
        <a data-th-href="@{'/user/jobs'}"
          class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-10 md:w-10 md:rounded-none md:rounded-s-lg"
            src="https://img.freepik.com/free-psd/infographic-elements-three-dimensional-icon_23-2149740208.jpg?w=1380&t=st=1726585113~exp=1726585713~hmac=bb7ae4a6893ca5bb8cf9010936019a1df203fdfd9d4b9781987187607751c9a6" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">View Jobs</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Browse, manage and track your applications list.
            </p>
          </div>
        </a>
      </div>
      <div>
        <a data-th-href="@{'/user/dashboard'}"
          class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-10 md:w-10 md:rounded-none md:rounded-s-lg"
            src="https://img.freepik.com/free-psd/infographic-elements-three-dimensional-icon_23-2149740230.jpg?w=1380&t=st=1726584790~exp=1726585390~hmac=42784233b64b7db87730156f2387040aaae8224e03c9decd35b8f84b9fd15cee" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Dashboard</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Overview of your application progress and stats.

            </p>
          </div>
        </a>
      </div>
      <div>
        <a data-th-href="@{'/user/profile'}"
          class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-10 md:w-10 md:rounded-none md:rounded-s-lg"
            src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=1380&t=st=1726585990~exp=1726586590~hmac=de5dd9e12f629dbad1d2525a33b8eb1cc2fc52a90e0d1e40faef31a50bcb2d0e" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Manage Profile</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Update your personal information and preferences.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <script>
    console.log("Home page");
  </script>
</body>

</html>